[submodule "library/hyperf-curd"]
	path = library/hyperf-curd
	url = git@github.com:kainonly/hyperf-curd.git
[submodule "library/hyperf-extra"]
	path = library/hyperf-extra
	url = git@github.com:kainonly/hyperf-extra.git